## Installations

In [1]:
!pip install lxml
!pip install requests
!pip install beautifulsoup4

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (4.5.1)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests) (1.25.9)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from beautifulsoup4) (2.0.1)

In [2]:
from bs4 import BeautifulSoup
import requests

with open('table.html') as html_file:
    soup = BeautifulSoup(html_file, 'lxml')

In [3]:
State = []
Active_Cases = []
Cured = []
Deaths = []
Total_cases = []
for row in soup.find('tbody').find_all('tr'):
    cells = row.find_all('td')
    State.append(cells[1].text.rstrip('\n'))
    Active_Cases.append(cells[2].text.rstrip('\n'))
    Cured.append(cells[3].text.rstrip('\n'))
    Deaths.append(cells[4].text.rstrip('\n'))
    Total_cases.append(cells[5].text.rstrip('\n'))

In [4]:
import pandas as pd
df = pd.DataFrame({'State' : State,
                  'Active Cases' : Active_Cases,
                  'Cured' : Cured,
                  'Deaths' : Deaths,
                  'Total Cases' : Total_cases})
df

,State,Active Cases,Cured,Deaths,Total Cases
0,Andaman and Nicobar Islands,62,54,0,116
1,Andhra Pradesh,9096,7632,206,16934
2,Arunachal Pradesh,176,75,1,252
3,Assam,3310,6349,14,9673
4,Bihar,2660,8214,80,10954
5,Chandigarh,58,393,6,457
6,Chhattisgarh,614,2437,14,3065
7,Dadra and Nagar Haveli and Daman and Diu,161,96,0,257
8,Delhi,26148,65624,2923,94695
9,Goa,744,734,4,1482
10,Gujarat,7763,24933,1904,34600
11,Haryana,4057,11691,255,16003
12,Himachal Pradesh,356,667,10,1033
13,Jammu and Kashmir,2825,5075,119,8019
14,Jharkhand,679,2001,15,2695
15,Karnataka,10612,8805,293,19710
16,Kerala,2098,2841,25,4964
17,Ladakh,223,777,1,1001
18,Madhya Pradesh,2655,11049,593,14297
19,Maharashtra,79927,104687,8376,192990
20,Manipur,677,639,0,1316
21,Meghalaya,18,43,1,62
22,Mizoram,36,126,0,162
23,Nagaland,311,228,0,539
24,Odisha,2372,5705,29,8106
25,Puducherry,459,331,12,802
26,Punjab,1514,4266,157,5937
27,Rajasthan,3331,15281,440,19052
28,Sikkim,49,53,0,102
29,Tamil Nadu,42958,58378,1385,102721
30,Telangana,9984,10195,283,20462
31,Tripura,325,1199,1,1525
32,Uttarakhand,525,2481,42,3048
33,Uttar Pradesh,7451,17597,749,25797
34,West Bengal,6200,13571,717,20488

The above table has been taken from the following website - 
https://www.mohfw.gov.in/#